

figure {
    float: right;
    /* width: 50%; */
    text-align: center;
    font-style: italic;
    font-size: smaller;
    text-indent: 0;
    border: thin silver solid;
    margin: 0.5em;
    padding: 0.5em;
  }

figure2 {
    float: center;
    /* width: 50%; */
    text-align: center;
    font-style: italic;
    font-size: smaller;
    text-indent: 0;
    border: thin silver solid;
    margin: 0.5em;
    padding: 0.5em;
  }

/*   
  center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
} */